@charset "UTF-8";

@media screen and (max-width: 768px){
    .sidenav {
       width: 0px;
        
    }

    span#menu {
        visibility: visible;
    }

    .openbtn {
        visibility: visible;
    }

    .main {
        margin-left: 0px;
        
    }      
}

