@charset "UTF-8";

* {

    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 { 
    text-align: center;
    background-color: #000050;
    color: whitesmoke;
    position:sticky;
    background: linear-gradient(180deg, #111 0%, #000050 100%);    
    top: 0%;        
    
}

body {
    background-color: rgb(228, 228, 228);
    
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90vw;    
  }

thead {
    position: sticky;
  }

 

